<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in messages %}
        <p style="text-align:center;">{{i}}</p>
    {% endfor %}
    <h1>Add Vendors</h1>
    <a href="home">Home</a>

    <form action="addventors" method="post">
        {% csrf_token %}
        <input type="name" name="vendorname" placeholder="Enter the vendorname" required>
        <input type="submit">
    </form>
</body>
</html>