<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .logo
    {
      width:250px;
      height:150px;

    }

    .logo_container{
      padding-left: 250px;
      padding-top:400px;
    }

    .viewproducts
    {
      width:100%;
      padding:10px;
      padding-top:20px;
      background-color: darkblue;
      color:white;
      height:10px
    }

    .logo_container2
    {
      padding-left:650px;
    }


  </style>
</head>
<body>

  <div class="logo_container">
    <img src="static/img/logo3.png" alt="" class="logo">
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="viewproducts">
    <h1 style="text-align: center; font-size: 20px;">View Products</h1>
  </div>

  <br>
  <br>


  {% for i in product %}
  <div class="logo_container2">
    <img src="static/img/logo3.png" alt="" height="50px">
  </div>

  <hr>

  <div class="image_container">
    <img src="{{i.product.product_image.path}}" alt="" width="1000px" height="1000px">
  </div>

  <hr>

  <br>
    {% if price_display %}
      <div>
        <h1>Grid Fokuz Price: Rs.{{ i.product.final_price|floatformat:2 }}/-</h1>
        <h1>Branding Cost: Rs.{{ i.product.branding_cost|floatformat:2 }}/-</h1>
        <h1>Tax Perceentage: {{ i.product.tax|floatformat:2 }}%</h1>
      </div>
    {% endif %}
  {% endfor %}

  <br>
  <br>
  <br>
  <br>
  <img src="static/img/temp.png" alt="" class="image4">
</body>
</html>